body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,17,186,1) 0%, rgba(3,121,243,1) 44%, rgba(0,212,255,1) 100%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box{
    width: 300px;
    padding: 30px;
    border-radius: 25px;
    position: absolute;
    text-align: center;
    background-color:#1c5568;
    border-style: solid;
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
}

button{
    background-color: #008CBA;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-style: solid;
    width: 230px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gg-home{
    position: relative;
    bottom: 75px;
    
}